<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#crictimes-widget {
    width: 100%;
    height: 1050vh; /* Or use your desired height */
    border: none;
    overflow: hidden; /* Prevent scrolling */
}
</style>
<!-- end Simple Custom CSS and JS -->
